POSTGRES_DB=nizam
POSTGRES_USER=nizam
POSTGRES_PASSWORD=nizam
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=nizam
MINIO_ROOT_PASSWORD=nizamnizam
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

N8N_PORT=5678

JWT_KEY=NizamDevSigningKey_ChangeMe_AtLeast32!
JWT_ISSUER=nizam
JWT_AUDIENCE=nizam-api

OUTBOX_WEBHOOK_URL=http://localhost:5678/webhook/nizam-outbox
